#dsp
dsp.filterBankNumFilters=299
dsp.maxAggSize=298
dsp.deltaN=5
dsp.pooling.percentileHigh=90.0
dsp.pooling.percentileLow=15.0
dsp.deltaOptimizePeakIndice=5
dsp.peakAmplitudePercentile=64.0
dsp.peakMinSequences=1
dsp.melSpectraNormalisation.percentile=15.0
dsp.spectrogramsImagePath=/home/opensoundid/dataset/spectrograms

#ansible
ansible.birds_list={{ openSoundID_directory }}/properties/birds_list.yml
ansible.metadataRepository={{ openSoundID_directory }}/metadataRepository
ansible.populateSQLFile={{ openSoundID_directory }}/database/populate_birds.sql

ansible.mp3towav.sox.highpass=1000
ansible.mp3towav.sox.normdb=-6
ansible.mp3towav.sox.rate=16000
ansible.mp3towav.sox.bitsnumber=16
ansible.mp3towav.ffmpeg.noisevolume=0.55
ansible.mp3towav.sox.denoise.level=0.4
ansible.mp3towav.ffmpeg.noiseloop=999
ansible.mp3towav.ffmpeg.noise_wav_file={{ openSoundID_directory }}/noises/noise.wav
ansible.essentia.windowtype=hann
ansible.essentia.spectrumsize=1536
ansible.essentia.lowfrequencybound=1000
ansible.essentia.highfrequencybound=8000
ansible.essentia.framesize=1536
ansible.essentia.hopsize=512
ansible.essentia.samplerate=16000
ansible.essentia.mfcc.normalize=unit_sum
ansible.essentia.mfcc.warpingFormula=slaneyMel
ansible.essentia.mfcc.weighting=warping
ansible.essentia.mfcc.numberbands=299
ansible.essentia.envelope.attackTime=0
ansible.essentia.envelope.releaseTime=5
ansible.essentia.averagedenvelope.percentile=10.0
ansible.essentia.envelope.hopsize=512
ansible.essentia.logNorm.type=log
ansible.essentia.PeakDetection.maxPeaks=200
ansible.essentia.PeakDetection.threshold=0.04
ansible.essentia.PeakDetection.maxAggSize=298
ansible.essentia.PeakDetection.minPosition=20
ansible.essentia.PeakDetection.maxPosition=21
ansible.essentia.PeakDetection.deltaOptimizePeakIndice=50

#analyze
analyze.sox.highpass=1000
analyze.sox.normdb=-6
analyze.sox.rate=16000
analyze.sox.bitsnumber=16
analyze.ffmpeg.noisevolume=0.55
analyze.sox.denoise.level=0.4
analyze.ffmpeg.noiseloop=999
analyze.ffmpeg.noise_wav_file={{ openSoundID_directory }}/noises/noise.wav


#ansible Training dataset
ansible.rec_download_directory={{ openSoundID_directory }}/dataset/training/DownloadDirectory
ansible.rec_wav_directory={{ openSoundID_directory }}/dataset/training/WAVDirectory
ansible.rec_json_directory={{ openSoundID_directory }}/dataset/training/JSONDirectory
ansible.rec_label_directory={{ openSoundID_directory }}/dataset/training/LabelDirectory

#ansible Also dataset
ansible.alsodataset_rec_download_directory={{ openSoundID_directory }}/dataset/test-xcalso/DownloadDirectory
ansible.alsodataset_rec_wav_directory={{ openSoundID_directory }}/dataset/test-xcalso/WAVDirectory
ansible.alsodataset_rec_json_directory={{ openSoundID_directory }}/dataset/test-xcalso/JSONDirectory
ansible.alsodataset_rec_label_directory={{ openSoundID_directory }}/dataset/test-xcalso/LabelDirectory

#SoundAnalyzer
soundAnalyzer.recordDirectory={{ openSoundID_directory }}/soundAnalyzer/recordDirectory
SoundAnalyzer.endFile=/tmp/endSoundAnalyzer.txt
SoundAnalyzer.dateFormat=HH:mm:ss
SoundAnalyzer.analyzeLastFileOnly=true

#Optimization
optimization.dataDirectory={{ openSoundID_directory }}/testOptimization

#ScoreAnalyzer
engine.ScoreAnalyzer.defaultScoreThreshold=10
engine.ScoreAnalyzer.specificScoreThreshold.1000=1
engine.ScoreAnalyzer.specificScoreThreshold.10000=1

#ResultSender
ResultSender.enable=false
ResultSender.RestUrl=http://localhost:8080/birdsongcache/rest/rest/birdsObservations

#CNN Training
CNNTraining.spectrogramsDirectory=/home/opensoundid/dataset/spectrograms
CNNTraining.arffTrainingFiles=/home/opensoundid/dataset/results/training.arff
CNNTraining.arffTestFiles=/home/opensoundid/dataset/results/test.arff
CNNTraining.randomSeed=1234
CNNTraining.locationToSaveModelWithUpdaterFileName=/home/opensoundid/model/modelWithUpdater.zip
CNNTraining.locationToSaveModelWithoutUpdaterFileName=/home/opensoundid/model/modelWithoutUpdater.zip
CNNTraining.EarlyStoppingConfiguration.maxEpochsTermination=100
CNNTraining.EarlyStoppingConfiguration.maxHour=24
CNNTraining.EarlyStoppingConfiguration.evaluateEveryNEpochs=1
CNNTraining.trainingBatchSize=16
CNNTraining.testBatchSize=16
CNNTraining.modelDirectoryName=/home/opensoundid/model

#CNNClassification
CNNClassification.modelFileName=/home/opensoundid/model/bestGraph.bin
CNNClassification.batchSize=32
CNNClassification.spectrogramsDirectory=/home/opensoundid/dataset/spectrograms



#ScoreLogger
scoreLogger.savePath={{ openSoundID_directory }}/scoreLogger/score.csv

#Engine
engine.percentile=0.1
engine.threshold=10
engine.ScoreFiltrer.maxResult=2

#features specifications
featuresSpecifications.yaml_data_file={{ openSoundID_directory }}/properties/birds_list.yml

#CNNFeatures
CNNFeatures.featuresNumber=2000
CNNFeatures.jsonDirectory={{ openSoundID_directory }}/dataset/training/JSONDirectory
CNNFeatures.alsoJsonDirectory={{ openSoundID_directory }}/dataset/test-xcalso/JSONDirectory
CNNFeatures.featuresDirectory={{ openSoundID_directory }}/dataset/training/FeaturesDirectory
CNNFeatures.alsoFeaturesDirectory={{ openSoundID_directory }}/dataset/test-xcalso/FeaturesDirectory
CNNFeatures.arffTrainingFiles={{ openSoundID_directory }}/dataset/results/training.arff
CNNFeatures.arffTestFiles={{ openSoundID_directory }}/dataset/results/test.arff
CNNFeatures.subSampleArffTestFiles={{ openSoundID_directory }}/dataset/results/test-200.arff
CNNFeatures.subSampleArffTestMaxCount=200
CNNFeatures.arffTestAlsoFiles={{ openSoundID_directory }}/dataset/results/testalso.arff
CNNFeatures.subSampleArffTestAlsoFiles={{ openSoundID_directory }}/dataset/results/testalso-500.arff
CNNFeatures.subSampleArffTestAlsoMaxCount=500
CNNFeatures.trainingSizePct=2


#jsonToDB
jsontodb.databaseurl=jdbc:h2:file:{{ openSoundID_directory }}/database/opensoundid

#Inventory
inventory.trainingInventoryFile={{ openSoundID_directory }}/inventory/training_inventory.yml
inventory.testInventoryFile={{ openSoundID_directory }}/inventory/test_inventory.yml
inventory.excludedKeyword=mimicry, imitation, mimicries, aberrant, bruit, rain, unusual, noise, bells, wind, hatchling, human
Inventory.databaseurl=jdbc:h2:file:{{ openSoundID_directory }}/database/opensoundid

#Noise Records
noiseRecords.recordsDirectory={{ openSoundID_directory }}/dataset/training/noises

#XenoCanto Records
XenoCantoRecords.jsonDirectory={{ openSoundID_directory }}/metadataRepository


