#!/bin/bash

ROOT_DIR=/home/opensoundid
export JAVA_HOME=/usr/lib/jvm/java-11-openjdk

cd ${ROOT_DIR}
${JAVA_HOME}/bin/java -Xmx16g -classpath "lib/engine-1.0.0-SNAPSHOT.jar:properties" org.opensoundid.SoundAnalyzer


